<!DOCTYPE html>

<title>Employee</title>

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employee.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employee.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ employee.cin }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ employee.photo }}</td>
            </tr>
            <tr>
                <th>EquipeId</th>
                <td>{{ employee.equipeId }}</td>
            </tr>
            <tr>
                <th>ServiceId</th>
                <td>{{ employee.serviceId }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ employee.role }}</td>
            </tr>
            <tr>
                <th>MotDePasse</th>
                <td>{{ employee.motDePasse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
